<%- include('./layout/Header') %>
  <%- include('./layout/Navbar') %>
<div class="showcase">
  <h1>About <span class="green-text">Express Diary</span></h1>
  <p>A Simple app made With Express</p>
  <p>This Application helps you keep Track of your Life in the best way possible</p>
</div>
<%- include('./layout/Footer') %>
